<div class="container">
  <h3>Top Questions</h3>
  <table class="table table-hover table-responsive">
    <tbody>
      <% @questions.each do |question| %>
        <%= render 'question', :question => question %>
      <% end %>
    </tbody>
  </table>
</div>

<% if @questions.count == 0 %>
  <p> There are currently no questions. It appears everyone is a genius. Congratulations!</p>
<% end %>


<% if @current_user && @current_user.admin %>
  <p>Total Questions Today: <%= @questions.daily.count %></p>
  <p>Total Answers Today: <%= @answers.daily.count %></p>
<% end %>
